@use 'variables' as *;

header {
	background-color: $primary-color;
	color: var(--select-bg);
	height: $header-height;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: $shadow-dropdown;

	.setting-group {
		display: flex;
		align-items: center;

		h4 {
			margin: 0;
		}

		i {
			color: var(--select-bg);
			margin-right: 1rem;
		}
	}

	h1, #user {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 50%;
	}
}