@use 'variables' as *;

.container {
	max-width: 100%;
	margin: 0 auto;
	background-color: $select-bg;
	padding: 1rem;
	border-radius: $border-radius;
	box-shadow: $shadow-dropdown;

	.header-actions {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 1rem;

		i {
			color: $primary-color;
		}
	}

	.tab-container {
		margin-bottom: 20px;

		.tab-links {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 10px;
			border-bottom: $border;

			.tab-link {
				flex: 1;
				text-align: center;
				padding: 10px;
				cursor: pointer;
				background-color: $secondary-color;
				color: $primary-color;
				border: none;
				border-radius: 5px 5px 0 0;
				margin-right: 0.2rem;

				&.active {
					background-color: $primary-color;
					color: $select-bg;
				}
			}
		}

		.tab-content {
			display: none;
			padding: 1rem;
			border: $border;
			border-radius: $border-radius;

			&.active {
				display: block;

				h2 {
					margin-top: 0;
				}

				.form-container {
					form {
						display: flex;
						flex-direction: column;

						.form-group {
							display: flex;
							flex-direction: column;
							margin-bottom: 0.5rem;

							input, textarea, select {
								padding: 0.5rem;
							}
						}
					}
				}

				.data-table {
					width: 100%;
					border-collapse: collapse;
					margin-bottom: 1rem;

					@media (max-width: 768px) {
						display: block;
					}

					tr {
						font-size: 0.85rem;

						@media (max-width: 768px) {
							display: block;
							background: $select-bg;
							margin-bottom: 1rem;
							padding: 1rem;
							border-radius: $border-radius;
							box-shadow: $shadow-dropdown;
						}
					}

					th {
						padding: 0.5rem;
						text-align: left;
						border-bottom: $border;

						@media (max-width: 768px) {
							display: none;
						}
					}

					td {
						padding: 0.75rem;
						text-align: left;
						border-bottom: $border;

						@media (max-width: 768px) {
							display: flex;
							justify-content: space-between;
							padding: 0.5rem;
							border-bottom: none;

							&::before {
								content: attr(data-label);
								font-weight: bold;
								margin-right: 10px;
							}
						}
					}
				}
			}
		}
	}
}

button {
	font-family: "Montserrat", sans-serif;
	width: 100%;
	background-color: $primary-color;
	color: var(--select-bg);
	padding: 10px;
	border: none;
	border-radius: $border-radius;
	cursor: pointer;
	font-size: 1rem;

	&:hover {
		background-color: $third-color;
	}

	&.delete-btn {
		background-color: $red-color;

		&:hover {
			background-color: $red-dark-color;
		}
	}
}
