@use '../variables' as *;

.modal {
	.modal-content {
		.timer-container {
			padding: 1.25rem;
			text-align: center;

			.timer-display {
				font-size: 3rem;
				margin: 1.25rem 0;
				color: $text-color;
				font-weight: 600;
			}

			button {
				border: none;
				border-radius: $border-radius;
				background-color: $primary-color;
				color: white;
				cursor: pointer;
				transition: all $modal-animation-time ease;

				&:disabled {
					background-color: #e0e0e0;
					cursor: not-allowed;
				}

				&:hover:not(:disabled) {
					background-color: $secondary-color;
					transform: translateY(-0.125rem);
				}
			}

			.timer-history {
				margin-top: 1.25rem;
				padding: 1rem;
				border-top: $border-color;

				.history-table {
					width: 100%;
					border-collapse: collapse;
					margin-top: 0.625rem;

					th, td {
						padding: 0.75rem;
						text-align: left;
						border-bottom: $border-color;
					}

					th {
							background-color: $secondary-color;
							font-weight: 600;
					}

					tr:hover {
						background-color: $accent-color;
					}
				}
			}
		}
	}
}